
@media screen and (min-width: 768px) {
  .main_page {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 -350px;
  }

  .border_size {
    width: 700px;
  }

  .sub_border_size {
    width: 335px;
    background-color: #161B22;
  }

  .main_page_textarea {
    position: absolute;
    resize: none;
    text-align: left;
    vertical-align:top;
  }

  .path_list_grid {
    grid-template-columns: repeat(2, 50%);
  }

  .save_template {
    position: absolute;
    margin: -40px 32%;
  }
}

@media screen and (max-width: 768px) {
  .main_page {
    position: absolute;
    top: 500px;
    left: 50%;
    margin: 0 -175px;
  }

  .border_size {
    width: 350px;
  }

  .sub_border_size {
    width: 165px;
    background-color: #161B22;
  }

  .main_page_textarea {
    display: none;
  }

  .path_list_grid {
    grid-template-columns: repeat(1, 100%);
  }

  .save_template {
    position: absolute;
    margin: -40px 62%;
  }
}

.path_list_grid {
  display: grid;
  /*grid-template-columns: repeat(4, 25%);*/
  /*grid-gap: 10px;*/
}

.border {
  border-radius: 10px;
  border: 1px solid #30363D;
  display: block;
  border-collapse: collapse;
}

.page_table {
  width: 100%;
}

.page_table th {
  vertical-align: top
}

.name_area_border {
  position:relative;
  border-radius: 10px 10px 0 0;
  display: block;
  border-collapse: collapse;

  background-color:  #161B22;

  width: 100%;

}

.name_area_border img {
  position: relative;
  margin: 10px 10px;
}

.name_area_border h2 {
  margin: -38px 50px;
}

.main_page_hr{
  border: none;
  background-color:  #30363D;
  color: #1E2329;
  height: 1px;

  margin: 0px;
}

.main_page_button {
  border-radius: 5px;
  border: 1px solid #30363D;
  display: block;
  border-collapse: collapse;
  background-color: #21262D;

  height: 30px;
}

.main_page_button:hover {
  border: 1px solid #21262D;
  cursor: pointer;
}

.main_page_button p {
  margin: 6px 10px;
  color: #C9D1D9;
}

/*loglist*/

.loglist {
  margin: 2px;
}

.loglist img {
  position: relative;
  top: 5px;
  left: 10px;
}

.loglist p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
}

.log_download {
  position: relative;
  margin: 0px 20px;

  cursor: pointer;
}

/*userlisr*/

.userlist img {
  position: relative;
  left: 10px;
}

.userlist p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
}

/**/
.settings_name {
  position: relative;
  border-radius: 10px 10px 0 0;
  display: block;
  border-collapse: collapse;

  margin: 0px 0px;
  padding: 0px;

  background-color:  #161B22;
}

/**/
.dashboard_info {
  display: block;

  height: 40px;

}

.dashboard_info img {
  margin: 5px 10px

}

.dashboard_info p {
  margin: -28px 50px

}

/**/
.user_info {
  white-space: normal;
  background-color: #161B22;
  margin-top: 10px;
  border-radius: 8px;
}

.path_grid {
  width: 100%;
  /* border: 1px solid #30363D;
  border-collapse: collapse; */
}

/**/

.template_border {
  background-color: #161B22;
  border-radius: 5px;

  border: 1px solid #30363D;
  display: block;
  border-collapse: collapse;

  margin: 10px 5px;

}

.template_border p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
  font-weight: normal;
}
