
:root {
  --min-width: 900px;
}

p {
  color: #C1C2BF; /* Цвет текста */
}

h1, h2, h3, h4, h5, h6 {
  color: #C1C2BF; /* Цвет текста */
}

a {
  color: #C1C2BF; /* Цвет ссылок */
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

input {outline:none;}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
}

.table_width {
  width: 100%;
  table-layout: fixed;
}
.table_width td {
  width: 100%;
}

.icon {
  filter: invert(60%);
}

.logo {
  position: relative;
  left: 10%;
  padding-bottom: 0px;
}

.input_border {
  position: relative;
  color: #C1C2BF;
  border: 1px solid #30363D;
  /*background-color: #0D1117;*/
  background-color: #010409;
  padding: 12px 10px;
  margin: 8px 0;
  border-radius: 5px;
  height: 30px;
}

.progress_bar {
  width: 100%;

  border-top: 1px solid #30363D;
  border-bottom: 1px solid #30363D;

  background-color: #010409;

  height: 10px;

  display: block;
  border-collapse: collapse;

}

.progress_bar_state {
  top: 0px;
  height: 10px;

  border-right: 1px solid #30363D;

  background-color: #949494;
  /* background-color: #707070; */

  left: 0px;

}

.memory_usage_ul {
  margin: -30px 30px;
}

.memory_usage_ul li {
  list-style-type: disc;
  white-space: nowrap;
}

.block_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
