
.file_list {
  position: absolute;
  left: var(--width-left-bar);
  top: 32px;
  right: 0px;
}

/*----------------------------------------------------------------------------*/

.file_selected {
  background-color: var(--selected-file-color);
}

.file {
  border-bottom: 1px solid var(--main-border-color);
  height: 40px;
  width: 100%;
}

.file img {
  width: 25;
  height: 25;
  margin: 7px 50px;
}

.checkBox_file:hover ~ .file {
  background-color: var(--hover-color);
  cursor: pointer;
}

.file:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.file p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

.file_name {
  width: calc(100% - 330px);
}

/*----------------------------------------------------------------------------*/

.file_list_grid {
  display: grid;
  grid-gap: 5px;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
}

.file_grid {
  height: 100px;
  width: 100%;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
}

.file_grid img {
  display: block;
  width: 60;
  height: 60;
  margin-left: auto;
  margin-right: auto;
}

.file_grid:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.file_name_grid {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  width: calc(90%);
  margin: 10px 0px;
  margin-top: 10px;
  margin-left: 5%;
}

/*----------------------------------------------------------------------------*/

.file_checkbox_bg {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--fileList-checkbox-color);
  border-right: 3px solid var(--fileList-checkbox-delimiter-color);
  cursor: pointer;
}

.file_pathInfo {
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--fileList-checkbox-color);
  height: 20px;
  width: 100%;
  color: var(--main-font-color);
}

.file_pathInfo p {
  color: var(--color-hide-font);
}

.file_delimiter_bg {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: var(--fileList-delimiter-color);
  border-right: 3px solid var(--fileList-checkbox-delimiter-color);
}

/*----------------------------------------------------------------------------*/

.file_sort_selector {
  height: 100%;
  border: none;
  background-color: var(--fileList-checkbox-color);
  cursor: pointer;
  color: var(--main-font-color);
  border-radius: none;
  clip-path: None;
}

.file_sort_selector:focus {
  outline: none;
}

.file_sort_selector:hover {
  background-color: var(--hover-color);
}

/*----------------------------------------------------------------------------*/

#drag_and_drop_div {
  pointer-events: none;
}

#drag_and_drop_div * {
  pointer-events: none;
}

.drag_and_drop_border {
  position: fixed;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border: 5px dashed #999999;
  border-radius: 10px;
  pointer-events: none;
}
