
.topBar {
  position: fixed;
  background-color: var(--top-color);

  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;

  border-bottom: 2px solid var(--top-border-color);

}

.path_buttons {
  position: relative;
  top: 8px;
  cursor: pointer;

  transition:0.1s all;
}

.path_buttons:hover {
  filter: invert(50%);
}

.path_input {
  position: absolute;
  left: 510px;
  width: calc(100% - 515px);
  top: 0px;
  background-color: var(--top-input-color);
}

/*----------------------------------------------------------------------------*/

.user_button_no_selected_color {
  background-color: var(--top-color);
  border-bottom: 1px solid var(--top-border-color);
}

.user_button_no_selected_color:hover {
  background-color: var(--top-hover-color);
}

.user_button_selected_color {
  background-color: var(--left-color);
  border-bottom: none;
}

.user_button {
  position: fixed;
  /* background-color: var(--top-color); */

  top: 0px;
  left: 0px;
  width: var(--width-left-bar);
  height: 45px;

  border-right: 1px solid var(--top-border-color);
  /* border-bottom: 1px solid var(--top-border-color); */

  cursor: pointer;
}

.user_button img {
  position: relative;
  top: 10px;
}

/*----------------------------------------------------------------------------*/

.round_button_file_list {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.round_button_file_list:hover {
  background-color: var(--bg-color);
}

.selected_files_div {
  position: fixed;
  top: 46px;
  left: var(--width-left-bar);
  right: 0px;
  height: 40px;
  background-color: var(--hover-color);
  border-bottom: 1px solid var(--main-border-color);
}

.file_list_info_div {
  position: absolute;
  left: 30px;
  top: 0px;
  width: 100%;
}

.file_list_close_button {
  position: absolute;
  right: 5px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}

.file_list_close_button img {
  margin: 2px 5px;
}

.file_list_download_button {
  position: absolute;
  right: 60px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}

.file_list_delete_button {
  position: absolute;
  right: 165px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}

/**/
.file_list_paste_button {
  position: absolute;
  right: 70px;
  top: 3px;
  height: 35px;
  width: 90px;
  cursor: pointer;
  border-radius: 15px;
}

.file_list_paste_button:hover {
  background-color: var(--bg-color);
}

.file_list_copy_button {
  position: absolute;
  right: 95px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}

.file_list_cut_button {
  position: absolute;
  right: 130px;
  top: 3px;
  height: 35px;
  cursor: pointer;
}
