
@media screen and (min-width: 768px) {
  .main_page {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 -350px;
  }

  .border_size {
    width: 700px;
  }

  .sub_border_size {
    width: 335px;
    background-color: #161B22;
  }

  .main_page_textarea {
    position: absolute;
    resize: none;
    text-align: left;
    vertical-align:top;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .save_template {
    position: absolute;
    margin: -40px 32%;
  }

  .grid_margin {
    grid-gap: 10px 0px;
    margin-left: 7px;
  }
}

@media screen and (max-width: 768px) {
  .main_page {
    position: absolute;
    top: 550px;
    left: 50%;
    margin: 0 -175px;
  }

  .border_size {
    width: 350px;
  }

  .sub_border_size {
    width: 350px;
    background-color: #161B22;
  }

  .main_page_textarea {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 100%);
  }

  .save_template {
    position: absolute;
    margin: -40px 62%;
  }

  .grid_margin {
    grid-gap: 10px 0px;
    margin-left: 0px;
  }
}

.grid {
  display: grid;
}

.grid_bottom_margin {
  margin-bottom: 13px;
}

.border {
  border-radius: 10px;
  border: 1px solid #30363D;
  display: block;
  border-collapse: collapse;
}

.page_table {
  width: 100%;
}

.page_table th {
  vertical-align: top;
}

.name_area_border {
  position:relative;
  border-radius: 10px 10px 0 0;
  display: block;
  border-collapse: collapse;

  background-color: #161B22;

  width: 100%;

}

.name_area_border img {
  position: relative;
  margin: 10px 10px;
}

.name_area_border h2 {
  margin: -38px 50px;
}

.main_page_hr{
  border: none;
  background-color:  #30363D;
  color: #1E2329;
  height: 1px;

  margin: 0px;
}

.main_page_button {
  border-radius: 5px;
  border: 1px solid #30363D;
  display: block;
  border-collapse: collapse;
  background-color: #21262D;

  height: 30px;
}

.main_page_button:hover {
  border: 1px solid #21262D;
  cursor: pointer;
}

.main_page_button p {
  margin: 6px 10px;
  color: #C9D1D9;
}

/*loglist*/

.loglist {
  margin: 2px;
}

.loglist img {
  position: relative;
  top: 5px;
  left: 10px;
}

.loglist p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
}

.log_view {
  position: relative;
  margin-right: 8px;

  cursor: pointer;
}

.view_log_textarea {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 36px;
  height: calc(100% - 36px);
  background-color: #0D1117;
  resize: none;
  white-space: pre;
  cursor: default;
  border: none;
  border-radius: 0 0 5px 5px;
  color: #C1C2BF;
}

.view_log_textarea:active, .view_log_textarea:hover, .view_log_textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.log_download {
  position: relative;
  margin-right: 20px;

  cursor: pointer;
}

/*userlisr*/

.userlist img {
  position: relative;
  left: 10px;
}

.userlist p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
}

/**/
.settings_name {
  position: relative;
  border-radius: 10px 10px 0 0;
  display: block;
  border-collapse: collapse;

  margin: 0px 0px;
  padding: 0px;

  background-color:  #161B22;
}

/**/
.dashboard_el {
  margin-bottom: 15px;
}

.dashboard_info {
  display: block;

  height: 40px;

}

.dashboard_info img {
  margin: 5px 10px

}

.dashboard_info p {
  margin: -28px 50px

}

/**/
.user_info {
  white-space: normal;
  background-color: #161B22;
  margin-top: 10px;
  border-radius: 8px;
}

.path_grid {
  width: 100%;
}

/**/

.template_border {
  display: block;
  background-color: #161B22;
  border-radius: 5px;

  border: 1px solid #30363D;
  border-collapse: collapse;
}

.template_border p {
  display: inline-block;
  position: relative;
  margin: 0px 15px;
  font-weight: normal;
}

/**/
.xterm-viewport { overflow: hidden !important; }
