:root {
  --lines-area-color: #24282B;

  --size-bars: 25px;
  --size-lines-number: 40px;
}

[data-theme = "light"] {
  --lines-area-color: #EBEEF1;
}

.code_area {
  position: absolute;
  top: calc(var(--size-bars) + 1px);
  left: var(--size-lines-number);
  right: 0px;
  bottom: calc(var(--size-bars) + 1px);
  /* width: calc(1220px + var(--scalex)); */
  /*height: calc(694px + var(--scaley));*/

  resize: none;

  color: var(--main-font-color);
  padding: 0px 5px;

  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-left: 1px solid var(--main-border-color);
}

.code_area:focus {
  outline: none !important;
}

.lines_area {
  position: absolute;
  top: calc(var(--size-bars) + 1px);
  left: 0px;
  width: var(--size-lines-number);
  bottom: calc(var(--size-bars) + 1px);

  overflow-y: hidden;

  text-align: right;
  color: #B1B1B2;
  padding: 0px 5px;

  background-color: var(--lines-area-color);
  border-color: var(--lines-area-color);
  resize: none;

  cursor: default;
}

.lines_area:focus {
  outline: none !important;
}

/**/

.topBar {
  position: fixed;
  background-color: var(--top-color);

  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--size-bars);

  border-bottom: 1px solid var(--top-border-color);
}

.topBar p {
  color: var(--top-font-color);
}

.topBar_button {
  position: absolute;

  border-left: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);

  height: 25px;

  background-color: var(--top-color);

  cursor: pointer;
}

.topBar_button p {
  margin: 0px auto;
  color: var(--top-font-color);
}

.topBar_button:hover {
  background-color: var(--top-hover-color);
}

/**/
.bottomBar {
  position: fixed;
  background-color: var(--top-color);

  bottom: 0px;
  left: 0px;
  width: 100%;
  height: var(--size-bars);

  border-top: 1px solid var(--top-border-color);
}