:root {
  --size-bars: 25px;
  --width-drop_down_menu: 200px;

  --color-top-bars: #2D3237;
  --color-bars: #1D2125;
  --color-borders-bars: #1D2125;
  --color-buttons-bars: #1D2125;
  --color-buttons-hover-bars: #2F363D;
  /* --color-font-bars: #D1D5DA; */
  --color-font-bars: #C1C2BF;

}

[data-theme = "light"] {

}

.CodeMirror * {
  /* font-family: Arial, monospace; */
  font-size: 14px;
}


.code_form {
  position: absolute;
  top: calc(var(--size-bars) + 1px);
  left: 0px;
  right: 0px;
  bottom: calc(var(--size-bars) - 13px);
  /* width: calc(1220px + var(--scalex)); */
  /*height: calc(694px + var(--scaley));*/

  resize: none;
}

/**/

.topBar {
  position: fixed;
  background-color: var(--color-bars);

  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--size-bars);

  border-bottom: 1px solid var(--top-border-color);
}

.topBar p {
  color: var(--color-font-bars);
}

.topBar_button {
  position: absolute;

  border-left: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);

  height: 25px;

  background-color: var(--color-buttons-bars);

  cursor: pointer;
}

.topBar_button p {
  margin: 0px auto;
  color: var(--color-font-bars);
}

.topBar_button:hover {
  background-color: var(--top-hover-color);
}

/**/
.bottomBar {
  position: fixed;
  background-color: var(--color-bars);

  bottom: 0px;
  left: 0px;
  width: 100%;
  height: var(--size-bars);

  border-top: 1px solid var(--top-border-color);

}

.bottomBar p {
  color: var(--color-font-bars);
  display: inline;
}

.selector {
  position: relative;
  color: var(--color-font-bars);
  border: none;
  /*background-color: #0D1117;*/
  background-color: var(--color-bars);
  padding: 0px 0px;
  border-radius: none;
  height: var(--size-bars);
  clip-path: None;
}

.selector:focus {
  outline: none;
}

.selector:hover {
  background-color: var(--top-hover-color);
}

/*  */

.background_black_editor {
  display: none;
  position: fixed;

  left: 0px;
  top: calc(var(--size-bars));

  width: 100%;
  height: 100%;
  z-index: 4;

}

.drop_down_menu {
  display: none;
  position: fixed;

  border: 1px solid var(--top-border-color);
  /* border-right: 1px solid var(--top-border-color); */

  width: var(--width-drop_down_menu);

  top: calc(var(--size-bars));

  background-color: var(--color-buttons-bars);

  z-index: 4;
}

.drop_down_menu_button {
  background-color: var(--color-buttons-bars);
  cursor: pointer;

  /* width: var(--width-drop_down_menu); */
  width: 100%;
  height: 24px;
}

.drop_down_menu_button:hover {
  background-color: var(--top-hover-color);
}

.drop_down_menu_button p {
  margin: 0px 20px;
  display: inline;
  color: var(--color-font-bars);
}

.drop_down_menu_hotkey {
  margin: 0px 0px;
}

.drop_down_menu_hr {
  border: none;
  background-color:  var(--color-font-bars);
  color: var(--color-font-bars);
  height: 1px;
  padding: 0px;
}
