
.file_list {
  position: absolute;
  left: var(--width-left-bar);
  top: 30px;

  width: calc(1080px + var(--scalex));
}

.file {
  border-bottom: 1px solid var(--border-color);

  height: 40px;
  /*width: 1150px;*/
  width: 100%;
}

.file:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.file p {
  white-space: nowrap;
}
