
.leftBar {
  position: fixed;

  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--width-left-bar);

  border-right: 1px solid var(--main-border-color);
}

.leftBar_user {
  position: fixed;

  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--width-left-bar);

  background-color: var(--left-color)/*var(--bg-color)*/;

  border-right: 1px solid var(--main-border-color);
}

.disk_space {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: var(--width-left-bar);
  height: 5px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--top-color);
}

.disk_space_progress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 5px;
  background-color: #999999;
}

.disk_info {
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: var(--width-left-bar);
  height: 30px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--hover-color);
}

.small_button_style {
  position: absolute;
  height: 35px;

  border-radius: 8px;
  border: 1px solid var(--main-border-color);
  background-color: var(--hover-color);

  cursor: pointer;
}

.small_button_style:hover {
  border: 1px solid var(--main-hover-border-color);
}

.small_button_left_style {
  position: absolute;
  height: 35px;

  width: 200px;

  border-top: 1px solid var(--top-border-color);
  border-bottom: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);
  background-color: var(--left-color);

  cursor: pointer;
}

.small_button_left_style:hover {
  background-color: var(--top-hover-color);
}

.button_exit_style {
  position: absolute;
  width: 200px;
  height: 35px;
  border-top: 1px solid var(--top-border-color);
  background-color: var(--left-color);

  bottom: 0px;
  left: 0px;

  cursor: pointer;
}

.button_exit_style:hover {
  background-color: var(--top-red_color);
}
