
.leftBar {
  position: fixed;

  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--width-left-bar);

  border-right: 1px solid var(--main-border-color);
}

.leftBar_user {
  position: fixed;

  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--width-left-bar);

  background-color: var(--left-color)/*var(--bg-color)*/;

  border-right: 1px solid var(--main-border-color);
}

.disk_space {
  position: absolute;
  left: 3px;
  bottom: 3px;
  right: 3px;
  height: 5px;
  background-color: var(--top-color);
  border-radius: 3px;
}

.disk_space_progress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 5px;
  background-color: #999999;
  border-radius: 3px;
}

.disk_info {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: var(--width-left-bar);
  height: 35px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--hover-color);
}

.small_button_style {
  position: absolute;
  height: 35px;
  border-radius: 8px;
  border: 1px solid var(--main-border-color);
  background-color: var(--hover-color);
  cursor: pointer;
  white-space: nowrap;
}

.small_button_style:hover {
  border: 1px solid var(--main-hover-border-color);
}

.small_button_left_style {
  position: absolute;
  height: 35px;

  width: 200px;

  border-top: 1px solid var(--top-border-color);
  border-bottom: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);
  background-color: var(--left-color);

  cursor: pointer;
}

.small_button_left_style:hover {
  background-color: var(--top-hover-color);
}

.button_exit_style {
  position: absolute;
  width: 200px;
  height: 35px;
  border-top: 1px solid var(--top-border-color);
  background-color: var(--hover-color);

  bottom: 0px;
  left: 0px;

  cursor: pointer;
}

.button_exit_style:hover {
  background-color: var(--top-red_color);
}

/*----------------------------------------------------------------------------*/

.settings_name {
  margin: 0px 8px;
  padding-top: 10px;
  padding-bottom: 8px;
  height: 15px;
}

.settings_element {
  margin: 0px 15px;
  padding-top: 0px;
  padding-bottom: 8px;
}

.settings_element * {
  margin: 0px;
}

.settings_element_button {
  position: relative;
  margin: 0px 10px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 8px;
  height: 25px;
  width: calc(var(--width-left-bar) - 20px);
}
