
@media screen and (min-width: 768px) {
  .info_class {
    display: none;
    position:absolute;

    background-color: var(--right-color);
    border: 1px solid var(--main-border-color);

    left: 0px;
    top: 0px;
    right: 500px;
    height: 50px;

  }

  .login_class {
    position:absolute;
    background-color: var(--right-color);
    border: 1px solid var(--main-border-color);
    right: 0px;
    top: 0px;
    height: 100%;
    width: 400px;

  }

  .login_warning {
    position: absolute;
    top: 50px;
    right: 0px;
    height: 35px;
    width: 400px;
    background-color: var(--main-red-color);
    border-top: 1px solid var(--main-border-color);
    border-radius: 8px 8px 0 0;
  }

  .login_container {
    position: absolute;
    top: 80px;
    right: 0px;
    height: 130px;
    width: 400px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
    border-radius: 8px;
  }

  .login_name_container {
    position: absolute;
    top: 80px;
    right: 0px;
    height: 40px;
    width: 400px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--main-border-color);
  }

  .login_input {
    position: absolute;

    left: 10px;

    width: 380px;

    background-color: var(--main-input-color);
  }
}

@media screen and (max-width: 768px) {
  .info_div {
    display: block;
  }

  .info_class {
    display: none;
  }

  .login_class {
    position:absolute;

    background-color: var(--right-color);

    left: 0px;
    top: 0px;

    height: 100%;
    width: 100%;

  }

  .login_warning {
    position: absolute;
    top: 50px;
    right: 0px;
    height: 35px;
    width: 100%;
    background-color: var(--main-red-color);
    border-top: 1px solid var(--main-border-color);
    border-radius: 8px 8px 0 0;
  }

  .login_container {
    position: absolute;

    /*top: 121px;*/
    top: 80px;
    right: 0px;

    height: 130px;
    width: 100%;

    background-color: var(--bg-color);
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);

    border-radius: 8px;
  }

  .login_name_container {
    position: absolute;

    top: 80px;
    left: 0px;

    height: 40px;
    width: 100%;

    background-color: var(--bg-color);
    border-top: 1px solid var(--main-border-color);

  }

  .login_input {
    position: absolute;

    left: 10px;

    left: 10px;
    right: 10px;

    background-color: var(--main-input-color);
  }
}

.login_button {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 130px;
  height: 30px;

  cursor: pointer;
}


.info_div {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 399px;
  margin: 0px;
}

.info_div iframe {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0px;
}
