

.login_class {
  position:absolute;

  background-color: var(--top-color);
  border: 1px solid var(--border-color);

  right: 0px;
  top: 0px;

  height: 100%;
  width: 400px;

}

.login_container {
  position: absolute;

  /*top: 121px;*/
  top: 80px;
  right: 0px;

  height: 150px;
  width: 400px;

  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.login_name_container {
  position: absolute;

  top: 80px;
  right: 0px;

  height: 40px;
  width: 400px;

  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);

}

.login_input {
  position: absolute;

  left: 10px;

  width: 380px;

  background-color: var(--top-color);
}

.login_button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 150px;
  height: 35px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.login_button:hover {
  background-color: var(--hover-color);
}
