:root {
  --scalex: calc(100% - 1280px);
  --scaley: calc(100% - 720px);

  --width-left-bar: 200px;
  --width-right-bar: 300px;

  --top-font-color: #D1D5DA;
  --main-font-color: #D1D5DA;

  --bg-color: #24292E;
  --top-color: #1D2125;
  --right-color: #1D2125;

  --top-hover-color: #2F363D;
  --hover-color: #2F363D;

  --top-red_color: #450C0F;
  --main-red-color:  #450C0F;

  --top-input-color: #2F363D;
  --main-input-color: #2F363D;

  --top-icons-filter: invert(60%);
  --main-icons-filter: invert(60%);

  --top-border-color: #141414;
  --main-border-color: #141414;

  --top-checkBox-color: #999999;
  --main-checkBox-color: #999999;

  --scroll-color: #4F5357;
  --scroll-bg-color: #1D2125;

}

[data-theme = "light"] {
  --scalex: calc(100% - 1280px);

  --width-left-bar: 200px;

  --top-font-color: #D1D5DA;
  --main-font-color: #24292E;

  --bg-color: #FFFFFF;
  --top-color: #1D2125;
  --right-color: #FFFFFF;

  --top-hover-color: #2F363D;
  --hover-color: #EBEEF1;

  --top-red_color: #450C0F;
  --main-red-color:  #FDB8C0;

  --top-input-color: #FFFFFF;
  --main-input-color: #FFFFFF;

  --top-icons-filter: invert(70%);
  --main-icons-filter: invert(35%);

  --top-border-color: #141414;
  --main-border-color: #E1E4E8;

  --top-checkBox-color: #999999;
  --main-checkBox-color: #595959;
}

p {
  color: var(--main-font-color); /* Цвет текста */
}

h1, h2, h3, h4, h5, h6 {
  /*color: #C1C2BF; /* Цвет текста */
  color: var(--main-font-color);
}

a {
  color: var(--main-font-color); /* Цвет ссылок */
}

.top_bar_font_color {
  color: var(--top-font-color);
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

input {outline:none;}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--bg-color);
}

.icon {
  filter: var(--main-icons-filter);
}

.icon_topBar {
  filter: var(--top-icons-filter);
}

.block_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.scroll_style::-webkit-scrollbar {
  /* ширина */
  width: 5px;
  height: 5px;
}

.scroll_style::-webkit-scrollbar-track {
  /* фон */
  background: var(--scroll-bg-color);
}

.scroll_style::-webkit-scrollbar-thumb {
  /* цвет ползунка */
  background-color: var(--scroll-color);
  border-radius: 2px;
}

.hr_style{
  border: none;
  background-color:  var(--main-border-color);
  color: var(--main-border-color);
  height: 1px;
}

.input_style {
  position: relative;
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
  /*background-color: #0D1117;*/
  background-color: var(--bg-color);

  font-size: 14px;

  padding: 12px 10px;
  margin: 8px 0;
  border-radius: 5px;
  height: 30px;

}

.background_black {
  position: fixed;
  left: 0px;
  top: 45px;
  width: 100%;
  height: 100%;

  background-color: #000;
  opacity: .5;
}

.button_margin p {
  margin: -28px 40px;
}

.button_margin img {
  margin: 7px 10px;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.div_ver {

}

.div_ver a {
  text-decoration: none;
}

.div_ver a:hover {
  text-decoration: underline;
}

.div_ver p {
  opacity: .6;
}

/* rotate animation */
.anim_rotate {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
