
.rightBar {
  position: fixed;

  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;

  background-color: var(--right-color)/*var(--bg-color)*/;

  border-left: 1px solid var(--main-border-color);
}

.fileName_input {
  position: absolute;

  left: 60px;
  top: 10px;
  width: 230px;

  background-color: var(--main-input-color);
}

.fileDescription {
  position: absolute;

  left: 10px;
  top: 120px;
  width: 280px;
  height: var(--width-left-bar);

  resize: none;

  background-color: var(--right-color);

}

.file_ico_name_div {
  position: absolute;
  left: 0px;
  top: 81px;
  width: 300px;
  height: 60px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_close_button {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 100px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_close_button:hover {
  background-color: var(--hover-color);
}

/* file info */

.file_download_button {
  position: absolute;
  left: 0px;
  top: 243px;
  width: 150px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_download_button:hover {
  background-color: var(--hover-color);
}

.file_delete_button {
  position: absolute;
  left: 151px;
  top: 243px;
  width: 149px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_delete_button:hover {
  background-color: var(--main-red-color);
}

.file_info_div {
  position: absolute;
  left: 0px;
  top: 142px;
  width: 300px;
  height: 100px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_info_div p {
  margin: 0px 10px;
}

/* list files */

.file_list_info_div {
  position: absolute;
  left: 0px;
  top: 81px;
  width: 300px;
  height: 75px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_list_download_button {
  position: absolute;
  left: 0px;
  top: 157px;
  width: 150px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_list_download_button:hover {
  background-color: var(--hover-color);
}

.file_list_delete_button {
  position: absolute;
  left: 151px;
  top: 157px;
  width: 149px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_list_delete_button:hover {
  background-color: var(--main-red-color);
}
