
.rightBar {
  position: fixed;

  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;

  background-color: var(--right-color)/*var(--bg-color)*/;

  border-left: 1px solid var(--main-border-color);
}

.fileName_input {
  position: absolute;

  left: 60px;
  top: 10px;
  width: 230px;

  background-color: var(--main-input-color);
}

.fileDescription {
  position: absolute;

  left: 10px;
  top: 120px;
  width: 280px;
  height: var(--width-left-bar);

  resize: none;

  background-color: var(--right-color);

}

.file_ico_name_div {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 300px;
  height: 60px;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_close_button {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 100px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_close_button:hover {
  background-color: var(--hover-color);
}

/* file info */

.file_download_button {
  position: absolute;
  left: 5px;
  top: 248px;
  width: 140px;
}

.file_delete_button {
  position: absolute;
  right: 5px;
  top: 248px;
  width: 140px;
  cursor: pointer;
}

.file_delete_button:hover {
  /* background-color: var(--main-red-color); */

}

.file_info_div {
  position: absolute;
  left: 0px;
  top: 142px;
  width: 300px;
  height: 150px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_info_div p {
  margin: 0px 10px;
}

.preview_image {
  position: absolute;
  left: 0px;
  top: 350px;
  width: 300px;

  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.preview_image_image {
  border-top: 1px solid var(--main-border-color);
}

.preview_image_fullscreen {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background-color: var(--preview-bg);

  text-align: center;
}

.preview_image_fullscreen_image {
  height: calc(100% - 25px);

}

.preview_image_fullscreen_move {
  position: fixed;
  top: 25px;
  width: 10%;
  height: calc(100% - 25px);

  cursor: pointer;
}

.preview_image_fullscreen_move img {
  /* filter: invert(80%); */
  opacity: 0;
}

.preview_image_fullscreen_move:hover img {
  opacity: 0.3;
}

.preview_display_type_fullscreen {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 25px;
  width: 100%;

  /* border-bottom: 1px solid var(--main-border-color); */
  border-bottom: 1px solid var(--main-border-color);

  background-color: var(--bg-color);

  color: var(--main-font-color);
}

.preview_image_fullscreen_close_button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 25px;
  border-left: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.preview_image_fullscreen_close_button:hover {
  background-color: var(--hover-color);
}

.preview_video_fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: var(--preview-bg);
}

.preview_video_fullscreen img {
  margin: 10px;
  cursor: pointer;
}

.preview_video_fullscreen_video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 25px);
}

.preview_video_fullscreen_controls {
  position: fixed;

  bottom: 0px;
  left: 0px;

  height: 25px;
  width: 100%;
  border-top: 1px solid var(--main-border-color);
}

.preview_video {
  position: absolute;
  left: 0px;
  top: 350px;
  width: 300px;
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.preview_video_controls {
  height: 25px;
  width: var(--width-right-bar);
  border-top: 1px solid var(--main-border-color);
}

.preview_video img {
  margin: 10px;
  cursor: pointer;
}

.preview_video img:hover {
  filter: invert(50%);
}

.preview_video_duration_info {
  display: none;
  position: fixed;
  overflow:hidden;
}

#preview_video_input_duration:hover ~ .preview_video_duration_info {
  display: block;
}

#preview_video_input_duration_fullscreen:hover ~ .preview_video_duration_info {
  display: block;
}

.preview_audio {
  position: absolute;
  left: 0px;
  top: 350px;
  width: 300px;

  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);

  background-color: var(--bg-color);
}

.preview_audio_name {
  position: absolute;
  color: var(--main-font-color);
  border: 1px solid var(--bg-color);
  /*background-color: #0D1117;*/
  background-color: var(--bg-color);

  font-size: 14px;

  padding: 12px 10px;
  margin: 8px 0;
  border-radius: 5px;
  height: 30px;

}

.preview_audio img {
  margin: 10px;
  cursor: pointer;
}

.preview_audio img:hover {
  filter: invert(50%);
}

.preview_info {
  position: absolute;
  left: 0px;
  top: 315px;
  height: 35px;
  width: 300px;

  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);

  background-color: var(--bg-color);
}

.preview_display_type {
  position: relative;
  left: 0px;
  top: 0px;
  height: 25px;
  width: 300px;

  /* border-bottom: 1px solid var(--main-border-color); */
  border-top: 1px solid var(--main-border-color);

  background-color: var(--bg-color);

  color: var(--main-font-color);
}

.preview_rendering_selector {
  /* width: 140px; */
  height: 25px;
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-top: none;
  border-bottom: none;
  background-color: var(--bg-color);

  cursor: pointer;
  color: var(--main-font-color);

  border-radius: none;
  clip-path: None;

}

.preview_rendering_selector:focus {
  outline: none;
}

.preview_rendering_selector:hover {
  background-color: var(--hover-color);
}

/* list files */

.file_activity_button {
  position: absolute;
  right: 0px;
  top: 45px;
  width: 140px;
  height: 35px;
  border-bottom: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}

.file_activity_button:hover {
  background-color: var(--hover-color);
}

.file_list_info_div {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 300px;
  /*height: 150px;*/
  height: 208px;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}

.file_list_download_button {
  position: absolute;
  left: 5px;
  top: 159px;
  width: 140px;
  cursor: pointer;
}

.file_list_delete_button {
  position: absolute;
  right: 5px;
  top: 159px;
  width: 140px;
  cursor: pointer;
}

.file_list_delete_button:hover {
  /* background-color: var(--main-red-color); */

}

.file_list_paste_button {
  position: absolute;
  left: 5px;
  top: 165px;
  width: 140px;
  cursor: pointer;
}

.file_list_cut_button {
  position: absolute;
  right: 5px;
  top: 202px;
  width: 140px;
  cursor: pointer;
}

.file_list_copy_button {
  position: absolute;
  right: 5px;
  top: 244px;
  width: 140px;
  cursor: pointer;
}

/* выгрузка */
.upload_bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: var(--width-right-bar);
  height: 5px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--top-color);
}

.upload_progress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 5px;
  background-color: #999999;
}

.file_upload_info {
  position: absolute;
  right: 0px;
  bottom: 5px;
  width: var(--width-right-bar);
  height: 80px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--bg-color);
}
