<html>
  <head>
    <meta charset="utf-8">
    <title>[ DISK: Dashboard ]</title>
    <link rel="icon" href="/static/img/favicon/dashboard.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href = "static/css/admin/main.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/left_bar.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/main_page.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/checkBox.1.css"/>

    <!-- <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css"/> -->

  </head>

  <body bgcolor = "#0D1117" style="overflow-x:hidden;" class="scroll_style">
    <div class="left_bar">
      <div class="logo">
        <img class="icon logo_img" width="50" height="50" src="static/img/dvd-disk.svg">
        <h2 style="margin: -50px 70px;">DISK</h2>
        <h5 style="margin: 45px 60px;">100LAR-WEB</h5>
      </div>
      <table class="menu_table left_bar_button_p">
        <tr><th>
          <div class="left_bar_button" id="left_bar_dashboard" onclick="open_page('dashboard')">
            <img class="icon" width="18" height="18" src="static/img/admin/dashboard.svg">
            <p align="left">dashboard</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_history" onclick="open_page('history')">
            <img class="icon" width="18" height="18" src="static/img/admin/history.svg">
            <p align="left">history</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Disk</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button_selected" id="left_bar_users" onclick="open_page('users')">
            <img class="icon" width="18" height="18" src="static/img/admin/user.svg">
            <p align="left">users</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_templates" onclick="open_page('templates')">
            <img class="icon" width="18" height="18" src="static/img/copy.svg">
            <p align="left">templates</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Extensions</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button_selected" id="left_bar_apps" onclick="open_page('apps')">
            <img class="icon" width="18" height="18" src="static/img/apps.svg">
            <p align="left">apps</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Security</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_logs" onclick="open_page('logs')">
            <img class="icon" width="18" height="18" src="static/img/admin/log.svg">
            <p align="left">logs</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_settings" onclick="open_page('settings')">
            <img class="icon" width="18" height="18" src="static/img/admin/settings.svg">
            <p align="left">settings</p>
          </div>
        </th></tr>
        <!-- <tr><th>
          <div class="left_bar_button" id="left_bar_terminal" onclick="open_page('terminal')">
            <img class="icon" width="18" height="18" src="static/img/admin/terminal.svg">
            <p align="left">terminal</p>
          </div>
        </th></tr> -->
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <div class="left_bar_button block_select" id="left_bar_data_base" onclick="window.close()">
            <img class="icon" width="18" height="18" src="static/img/admin/logout.svg">
            <p align="left">exit</p>
          </div>
        </th></tr>
      </table>
    </div>

    <!--dashboard-->
    <div class="main_page" id="dashboard" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/dashboard.svg">
          <h2>Dashboard</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="get_server_info()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/refresh.svg">
          <p style="margin: -25px 35px">refresh</p>
        </div>
      </div>
      <ul class="grid grid_margin" style="margin-bottom: 0px;">
        <li>
          <ul>
            <!-- cpu usage -->
            <li class="dashboard_el">
              <div class="border sub_border_size" style="height: 80px;" align="left">
                <img class="icon" style="position: absolute; margin: 10px;" width="20" height="20" src="static/img/admin/cpu.svg">
                <p style="position: absolute; margin: 10px 50px; white-space: nowrap; color: #8B949E; font-weight: normal;">CPU usage</p>
                <div id="cpu_usage_div" class="progress_bar" style="margin: 35px 0px;">
                  <div id="cpu_usage" class="progress_bar_state"></div>
                </div>
                <ul class="memory_usage_ul">
                  <li style="color: #949494;">
                    <p id="server_cpu_usage" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                  </li>
                </ul>
              </div>
            </li>
            <!-- time running -->
            <li class="dashboard_el">
              <div class="border sub_border_size" style="height: 70px;" align="left">
                <img class="icon" style="position: absolute; margin: 10px;" width="20" height="20" src="static/img/admin/clock.svg">
                <p style="margin: 10px 50px; width: 100%; color: #8B949E; font-weight: normal;">time running</p>
                <p id="server_time_running" style="margin: 10px 10px; width: 100%; font-weight: normal;"></p>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <!-- memory usage -->
            <li class="dashboard_el">
              <div class="border sub_border_size" style="height: 120px;" align="left">
                <img class="icon" style="position: absolute; margin: 10px;" width="20" height="20" src="static/img/admin/memory.svg">
                <p style="position: absolute; margin: 10px 50px; white-space: nowrap; color: #8B949E; font-weight: normal;">RAM usage</p>
                <div id="ram_memory_usage_div" class="progress_bar" style="margin: 35px 0px;">
                  <div id="ram_memory_usage_0" style="background-color: #707070;" class="progress_bar_state"></div>
                  <div id="ram_memory_usage_1" style="margin: -10px 0px;" class="progress_bar_state"></div>
                </div>
                <ul class="memory_usage_ul">
                  <li style="color: #949494;">
                    <p id="server_program_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                  </li>
                  <li style="color: #707070;">
                    <p id="server_used_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                  </li>
                  <li>
                    <p id="server_total_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/warning.svg">
          <h2>Warnings</h2>
        </div>
        <hr class="main_page_hr">

        <div id="clear_errors_div" style="display: None;">
          <div class="main_page_button" style="width: 160px; margin: 10px" onclick="open_alert_clear_error_list()">
            <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/trash.svg">
            <p style="margin: -25px 35px">clear error list</p>
          </div>
          <hr class="main_page_hr">
        </div>

        <ul id="warnings_list"></ul>

      </div>
    </div>

    <!--history-->
    <div class="main_page" id="history" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/history.svg">
          <h2>History</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="get_history()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/refresh.svg">
          <p style="margin: -25px 35px">refresh</p>
        </div>
        <div class="main_page_button" style="right: 0px; top: 54px; width: 150px; margin: 10px; position: absolute;" onclick="open_alert_delete_all_history()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/trash.svg">
          <p style="margin: -25px 35px">clear history</p>
        </div>
      </div>
      <br>
      <div class="border border_size">
        <ul id="historylist" class="loglist"></ul>
      </div>
    </div>

    <!--users-->
    <div class="main_page" id="users" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/user.svg">
          <h2>Users</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="add_new_user()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/add.svg">
          <p style="margin: -25px 35px; white-space: nowrap">add user</p>
        </div>
      </div>
      <br>
      <div class="border border_size">
        <ul id="userlist" class="loglist"></ul>
      </div>
    </div>

    <!--templates-->
    <div class="main_page" id="templates" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/copy.svg">
          <h2>Templates</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 130px; margin: 10px" onclick="add_new_template()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/add.svg">
          <p style="margin: -25px 35px; white-space: nowrap;">add template</p>
        </div>
      </div>
      <div class="border_size">
        <ul id="templateslist" class="grid grid_margin"></ul>
      </div>
    </div>

    <!--apps-->
    <div class="main_page" id="apps" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/apps.svg">
          <h2>Apps</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 130px; margin: 10px" onclick="reload_apps()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/refresh.svg">
          <p style="margin: -25px 35px; white-space: nowrap;">reload apps</p>
        </div>
        <div class="main_page_button block_select" style="width: 130px; margin: 10px; right: 0px; top: 54px; position: absolute;" onclick="save_all_apps_settings()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/save.svg">
          <p style="margin: -25px 35px; white-space: nowrap;">save settings</p>
        </div>
      </div>

      <div class="border_size">
        <ul id="appslist" class="grid grid_margin"></ul>
      </div>
    </div>

    <!--logs-->
    <div class="main_page" id="logs" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/log.svg">
          <h2>Logs</h2>
        </div>
        <hr class="main_page_hr">

        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="get_all_logs()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/refresh.svg">
          <p style="margin: -25px 35px">refresh</p>
        </div>

        <div class="main_page_button block_select" style="right: 0px; top: 54px; width: 160px; margin: 10px; position: absolute;" onclick="open_alert_delete_all_logs()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/trash.svg">
          <p style="margin: -25px 35px">delete all logs</p>
        </div>

      </div>
      <br>
      <div class="border border_size">
        <ul id="loglist" class="loglist"></ul>
      </div>

    </div>

    <!--settings-->
    <div class="main_page" id="settings" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/settings.svg">
          <h2>Settings</h2>
        </div>
        <hr class="main_page_hr">
        <!-- <div id="reboot_button" class="main_page_button" style="width: 155px; margin: 10px" onclick="open_alert_reboot_script()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/refresh.svg">
          <p style="margin: -25px 35px">reboot server</p>
        </div> -->

        <!-- width: 155px; margin: 10px; right: 0px; top: 54px; position: absolute; -->
        <div class="main_page_button" style="width: 130px; margin: 10px" onclick="save_settings()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/save.svg">
          <p style="margin: -25px 35px; white-space: nowrap;">save settings</p>
        </div>
      </div>
      <ul class="grid">
        <li>
          <ul id="settings_left" class="grid_margin"></ul>
        </li>
        <li>
          <ul id="settings_right" class="grid_margin"></ul>
        </li>
      </ul>

    </div>

    <!--terminal-->
    <!-- <div class="main_page" id="terminal" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/terminal.svg">
          <h2>Terminal</h2>
        </div>
        <hr class="main_page_hr">
        <p id="terminal_status" style="font-weight: bold; font-size: 16; margin: 10px;">status: connected</p>
      </div>
      <br>
      <div id="terminal_div"></div>
    </div> -->

    <!--alert-->
    <div id="alert_bg" class="alert_bg" onclick="close_alert()"></div>
    <div id="alert" class="alert">
      <div class="alert_top_name">
        <div class="alert_close_button block_select button_margin" onclick="close_alert()">
          <img class="icon" width="20" height="20" src="static/img/cross.svg">
          <p>close</p>
        </div>
      </div>

      <div id="alert_div"></div>
    </div>

  </body>

  <script src="static/js/libs/socketio.js"></script>

  <script type="text/javascript" src="static/js/main.1.js"></script>
  <script type="text/javascript" src="static/js/admin/users.1.js"></script>
  <script type="text/javascript" src="static/js/admin/templates.1.js"></script>
  <script type="text/javascript" src="static/js/admin/extensions.1.js"></script>
  <script type="text/javascript" src="static/js/admin/settings.1.js"></script>
  <script type="text/javascript" src="static/js/admin/logs.1.js"></script>
  <script type="text/javascript" src="static/js/admin/history.1.js"></script>
  <script type="text/javascript" src="static/js/admin/admin.1.js"></script>

  <!-- xterm -->
  <!-- <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
  <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
  <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
  <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>
  <script type="text/javascript" src="static/js/admin/xterm.1.js"></script> -->

</html>
