#terminal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
}

.xterm-viewport::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #2F363D;
  border-radius: 2px;
}
