
.addFileMenu {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 140px;
  background-color: var(--bg-color);
  border-radius: 8px 8px 0 0;
  z-index: 4;
}

.addFileMenu_button {
  position: absolute;
  background-color: var(--hover-color);
}

.small_button_style {
  position: absolute;
  height: 35px;

  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: var(--bg-color);

  cursor: pointer;
}
