<html>
  <head>
    <meta charset="utf-8">
    <title>[ DISK: Dashboard ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href = "static/css/admin/main.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/left_bar.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/main_page.1.css"/>

  </head>

  <body bgcolor = "#0D1117">
    <div class="left_bar">
      <div class="logo">
        <img class="icon logo_img" width="50" height="50" src="static/img/dvd-disk.svg">
        <h2 style="margin: -50px 70px;">DISK</h2>
        <h5 style="margin: 45px 60px;">100LAR-WEB</h5>
      </div>
      <table class="menu_table left_bar_button_p">
        <tr><th>
          <div class="left_bar_button" id="left_bar_dashboard" onclick="open_page('dashboard')">
            <img class="icon" width="18" height="18" src="static/img/admin/dashboard.svg">
            <p align="left">dashboard</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Disk</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button_selected" id="left_bar_users" onclick="open_page('users')">
            <img class="icon" width="18" height="18" src="static/img/admin/user.svg">
            <p align="left">users</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_templates" onclick="open_page('templates')">
            <img class="icon" width="18" height="18" src="static/img/admin/.svg">
            <p align="left">templates</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Security</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_logs" onclick="open_page('logs')">
            <img class="icon" width="18" height="18" src="static/img/admin/log.svg">
            <p align="left">logs</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_settings" onclick="open_page('settings')">
            <img class="icon" width="18" height="18" src="static/img/admin/settings.svg">
            <p align="left">settings</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_data_base" onclick="window.close()">
            <img class="icon" width="18" height="18" src="static/img/admin/logout.svg">
            <p align="left">exit</p>
          </div>
        </th></tr>
      </table>
    </div>

    <!--dashboard-->
    <div class="main_page" id="dashboard" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/dashboard.svg">
          <h2>Dashboard</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--users-->
    <div class="main_page" id="users" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/user.svg">
          <h2>Users</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--templates-->
    <div class="main_page" id="templates" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/.svg">
          <h2>Templates</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--logs-->
    <div class="main_page" id="logs" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/log.svg">
          <h2>Logs</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--setings-->
    <div class="main_page" id="settings" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/settings.svg">
          <h2>Setings</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="static/js/main.1.js"></script>
  <script type="text/javascript" src="static/js/admin.1.js"></script>


</html>
