<html>
  <head>
    <meta charset="utf-8">
    <title>[ DISK: Dashboard ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href = "static/css/admin/main.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/left_bar.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/main_page.1.css"/>
    <link rel="stylesheet" href = "static/css/admin/checkBox.1.css"/>

  </head>

  <body bgcolor = "#0D1117" style="overflow-x:hidden;">
    <div class="left_bar">
      <div class="logo">
        <img class="icon logo_img" width="50" height="50" src="static/img/dvd-disk.svg">
        <h2 style="margin: -50px 70px;">DISK</h2>
        <h5 style="margin: 45px 60px;">100LAR-WEB</h5>
      </div>
      <table class="menu_table left_bar_button_p">
        <tr><th>
          <div class="left_bar_button" id="left_bar_dashboard" onclick="open_page('dashboard')">
            <img class="icon" width="18" height="18" src="static/img/admin/dashboard.svg">
            <p align="left">dashboard</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Disk</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button_selected" id="left_bar_users" onclick="open_page('users')">
            <img class="icon" width="18" height="18" src="static/img/admin/user.svg">
            <p align="left">users</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_templates" onclick="open_page('templates')">
            <img class="icon" width="18" height="18" src="static/img/dvd-disk.svg">
            <p align="left">memory</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <p class="left_bar_description" align="left">Security</p>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_logs" onclick="open_page('logs')">
            <img class="icon" width="18" height="18" src="static/img/admin/log.svg">
            <p align="left">logs</p>
          </div>
        </th></tr>
        <tr><th>
          <div class="left_bar_button" id="left_bar_settings" onclick="open_page('settings')">
            <img class="icon" width="18" height="18" src="static/img/admin/settings.svg">
            <p align="left">settings</p>
          </div>
        </th></tr>
        <tr><th>
          <hr class="left_bar_hr">
        </th></tr>
        <tr><th>
          <div class="left_bar_button block_select" id="left_bar_data_base" onclick="window.close()">
            <img class="icon" width="18" height="18" src="static/img/admin/logout.svg">
            <p align="left">exit</p>
          </div>
        </th></tr>
      </table>
    </div>

    <!--dashboard-->
    <div class="main_page" id="dashboard" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/dashboard.svg">
          <h2>Dashboard</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="get_server_info()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/refresh.svg">
          <p style="margin: -25px 35px">refresh</p>
        </div>
      </div>
      <br>
      <table class="page_table">
        <tr>
          <th align="left">
            <div class="border sub_border_size" style="height: 70px;" align="left">
              <img class="icon" style="position: absolute; margin: 10px;" width="20" height="20" src="static/img/admin/clock.svg">
              <p style="margin: 10px 50px; width: 100%; color: #8B949E; font-weight: normal;">time running</p>
              <p id="server_time_running" style="margin: 10px 10px; width: 100%; font-weight: normal;"></p>
            </div>
          </th>
          <th align="right">
            <div class="border sub_border_size" style="height: 135px;" align="left">
              <img class="icon" style="position: absolute; margin: 10px;" width="20" height="20" src="static/img/admin/memory.svg">
              <p style="margin: 10px 50px; width: 100%; color: #8B949E; font-weight: normal;">RAM usage</p>
              <div id="ram_memory_usage_div" class="progress_bar">
                <div id="ram_memory_usage_0" style="background-color: #707070;" class="progress_bar_state"></div>
                <div id="ram_memory_usage_1" style="margin: -10px 0px;" class="progress_bar_state"></div>
              </div>
              <ul class="memory_usage_ul">
                <li style="color: #949494;">
                  <!-- <p style="">•</p> -->
                  <p id="server_program_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                </li>
                <li style="color: #707070;">
                  <p id="server_used_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                </li>
                <li>
                  <p id="server_total_memory" style="margin: 0px 0px; width: 100%; font-weight: normal;"></p>
                </li>
              </ul>
            </div>
          </th>
        </tr>
      </table>

    </div>

    <!--users-->
    <div class="main_page" id="users" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/user.svg">
          <h2>Users</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--templates-->
    <div class="main_page" id="templates" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/.svg">
          <h2>Templates</h2>
        </div>
        <hr class="main_page_hr">
        <p>hello</p>
      </div>
    </div>

    <!--logs-->
    <div class="main_page" id="logs" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/log.svg">
          <h2>Logs</h2>
        </div>
        <hr class="main_page_hr">

        <div class="main_page_button block_select" style="width: 100px; margin: 10px" onclick="get_all_logs()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/refresh.svg">
          <p style="margin: -25px 35px">refresh</p>
        </div>

        <div class="main_page_button block_select" style="right: 0px; top: 54px; width: 160px; margin: 10px; position: absolute;" onclick="delete_all_logs()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/trash.svg">
          <p style="margin: -25px 35px">delete all logs</p>
        </div>

      </div>
      <br>
      <div class="border border_size">
        <ul id="loglist" class="loglist"></ul>
      </div>

    </div>

    <!--setings-->
    <div class="main_page" id="settings" style="display: none;">
      <div class="border border_size">
        <div class="name_area_border border_size" style="height: 52px">
          <img class="icon" width="30" height="30" src="static/img/admin/settings.svg">
          <h2>Settings</h2>
        </div>
        <hr class="main_page_hr">
        <div class="main_page_button" style="width: 155px; margin: 10px" onclick="reboot_script()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/refresh.svg">
          <p style="margin: -25px 35px">reboot server</p>
        </div>

        <div class="main_page_button" style="width: 155px; margin: 10px; right: 0px; top: 54px; position: absolute;" onclick="save_settings()">
          <img style="margin: 5px 5px" class="icon" width="20" height="20" src="static/img/admin/save.svg">
          <p style="margin: -25px 35px">save settings</p>
        </div>
      </div>
      <br>
      <table class="page_table">
        <tr>
          <th align="left">
            <ul id="settings_left"></ul>
          </th>
          <th align="right">
            <ul id="settings_right"></ul>
          </th>
        </tr>
      </table>

    </div>

  </body>

  <script type="text/javascript" src="static/js/main.1.js"></script>
  <script type="text/javascript" src="static/js/admin/admin.1.js"></script>
  <script type="text/javascript" src="static/js/admin/settings.1.js"></script>
  <script type="text/javascript" src="static/js/admin/logs.1.js"></script>


</html>
