
<html id="html">
  <head>
    <meta charset="utf-8">
    <title>[ EDITOR ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.1.css"/>

    <link rel="stylesheet" href = "static/css/editor.1.css"/>

  </head>

  <body>

    <textarea id="lines_area" class="lines_area" name="name" wrap='off' readonly unselectable="on">1</textarea>
    <textarea id="code_area" class="code_area scroll_style" name="name" wrap='off'></textarea>
    
    <div class="topBar">
      <p id="save_state" style="position: absolute; display: none; font-size: 25px; margin: -9px 0px; left: 85px;">•</p>
      <p style="position: absolute; margin: auto; left: 98px;">{{ data[2] }}</p>
      <div class="topBar_button" style="left: 0px; width: 70px;" onclick="save()">
        <p align="center">save</p>
      </div>
    </div>

    <div class="bottomBar">

    </div>
    
  </body>

  <script type="text/javascript">
    var path = '{{ data[0] }}';
    var dir_str = '{{ data[1] }}';
    var name = '{{ data[2] }}';
  </script>

  <script type="text/javascript" src="static/js/main.1.js"></script>

  <script type="text/javascript" src="static/js/theme.1.js"></script>

  <script type="text/javascript" src="static/js/editor.1.js"></script>

</html>
