
<html id="html">
  <head>
    <meta charset="utf-8">
    <title>[ EDITOR ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.1.css"/>

    <link rel="stylesheet" href = "static/css/editor.1.css"/>

    {{ codemirror.include_codemirror() }}
    {{ codemirror_themes | safe }}

  </head>

  <body>

    <form method="POST" class="code_form">
      {{ form.csrf_token }}
      {{ form.source_code }}
    </form>

    <div class="topBar">
      <div class="topBar_button block_select" style="left: 0px; width: 70px;" onclick="open_drop_down_menu('menu_file')">
        <p align="center">File</p>
      </div>
      <div class="topBar_button block_select" style="left: 70px; width: 70px;" onclick="open_drop_down_menu('menu_edit')">
        <p align="center">Edit</p>
      </div>
      <p id="save_state" align="center" style="position: absolute; display: none; font-size: 25px; margin: -9px calc(50% - 20px); left: 8px;">•</p>
      <p style="position: absolute; margin: 0px 50%; white-space: nowrap;" align="center">{{ data[3] }}</p>

      <label for="" style="position: absolute; left: 150px; top: 0px; color: var(--color-font-bars)">
        Theme:
        <select onchange="setOption('theme', this)" class="selector" id="set_theme" style="">
          <option value="default">default</option>
          <option value="eclipse">eclipse</option>
          <option value="midnight">midnight</option>
          <option value="material">material</option>
          <option value="3024-night">3024-night</option>
        </select>
      </label>
    </div>

    <div id="background_black_editor" class="background_black_editor" onclick="close_all_drop_down_menu()"></div>

    <div id="menu_file" class="drop_down_menu" style="left: 0px; width: 220px">
      <div class="drop_down_menu_button block_select" onclick="save(); close_all_drop_down_menu();">
        <p style="">Save</p>
        <p align="right" style="float: right">Ctrl + S</p>
      </div>
      <div class="drop_down_menu_button block_select" onclick="export_file(); close_all_drop_down_menu();">
        <p>Export</p>
        <p align="right" style="float: right">Ctrl + Shift + S</p>
      </div>
      <hr class="drop_down_menu_hr">
      <div class="drop_down_menu_button block_select" onclick="close_all_drop_down_menu();">
        <p>Settings</p>
      </div>
      <hr class="drop_down_menu_hr">
      <div class="drop_down_menu_button block_select" onclick="window.close()">
        <p>Exit</p>
        <p align="right" style="float: right">Ctrl + W</p>
      </div>
    </div>

    <div id="menu_edit" class="drop_down_menu" style="left: 70px;">
      <div class="drop_down_menu_button block_select" onclick="editor_for_source_code.undo(); close_all_drop_down_menu();">
        <p style="">Undo</p>
        <p align="right" style="float: right">Ctrl + Z</p>
      </div>
      <div class="drop_down_menu_button block_select" onclick="editor_for_source_code.redo(); close_all_drop_down_menu();">
        <p>Redo</p>
        <p align="right" style="float: right">Ctrl + Y</p>
      </div>
      <!-- <hr class="drop_down_menu_hr">
      <div class="drop_down_menu_button block_select" onclick="editor_for_source_code.selectAll(); close_all_drop_down_menu();">
        <p>Select all</p>
        <p align="right" style="float: right">Ctrl + A</p>
      </div> -->
    </div>

    <div class="bottomBar">
      <p style="margin: 0px 8px">{{ data[1] }}:/{{ data[2] }}/{{ data[3] }}</p>
      <p id="cursor_pos"></p>


      <label for="" style="position: absolute; right: 100px;">
        <p style="">spaces: </p>
        <select id="set_tabSize" class="selector" style="" onchange="setOption('tabSize', this)">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label>

      <select id="set_mode" class="selector" style="position: absolute; right: 0px;" onchange="setOption('mode', this)">
        <option value="text/plain">Default</option>
        <!-- <option value="JavaScript">JavaScript</option> -->
        <option value="python">Python</option>
        <option value="text/x-csrc">C</option>
        <option value="text/x-c++src">C++</option>
        <option value="text/x-java">Java</option>
        <!-- <option value="clike">C-Like</option> -->
      </select>
    </div>

  </body>

  <script type="text/javascript">
    var path = '{{ data[0] }}';
    var path_name = '{{ data[1] }}';
    var dir_str = '{{ data[2] }}';
    var name = '{{ data[3] }}';

    editor_for_source_code.setSize("100%", "100%");
    editor_for_source_code.clearHistory();

  </script>

  <script type="text/javascript" src="static/js/main.1.js"></script>

  <script type="text/javascript" src="static/js/theme.1.js"></script>

  <script type="text/javascript" src="static/js/editor.1.js"></script>

</html>
