 
<html>
  <head>
    <meta charset="utf-8">
    <title>[ TEST ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.1.css"/>

  </head>

  <body bgcolor = "#24292E">

    <div class="file_list">
      <ul id="file_list"></ul>
    </div>
    
    <div class="leftBar">

      <div class="disk_info">
        <img class="icon" style="margin: 5px 5px" width="18" height="18" src="static/img/dvd-disk.svg">
        <p style="margin: -23px 30px">25.2GB / 100GB</p>
      </div>
      <div class="disk_space">
        <div id="disk_space_progress" class="disk_space_progress">

        </div>
      </div>
    </div>

    <!--Информация о файле-->
    <div id="rightBar" class="rightBar" style="display: none">
      <div class="file_ico_name_div">
        <img class="icon" style="margin: 10px 10px" width="40" height="40" src="static/img/file.svg">
        <input id="fileName_input" class="input_style fileName_input" style="" type=text placeholder="file name">
      </div>
      
      <div class="file_info_div">
        <p id="file_type" style="margin-top: 10px;">type: None</p>
        <p id="file_size">size: None</p>
        <p id="file_path">path: None</p>
        <p id="file_date">date of change: None</p>
        <textarea class="input_style fileDescription" style="display: none"></textarea>
      </div>

      <div class="file_download_button">
        <img class="icon" style="margin: 7px 10px;" width="20" height="20" src="static/img/download.svg">
        <p style="margin: -25px 40px;">download</p>
      </div>
      

    </div>
    
    <div class="topBar">
      <div class="user_button">
        <img class="icon" style="margin: 0px 5px" width="25" height="25" src="static/img/user.svg">
        <p style="margin: -22px 40px; color: #91918D">user</p>
        <p style="margin: 15px 40px">100LAR</p>
        <img class="icon" style="position:absolute; right: 10px" width="10" height="10" src="static/img/triangle.svg">
      </div>
      <img class="icon path_buttons" style="left: 210px" width="30" height="30" src="static/img/back.svg">
      <img class="icon path_buttons" style="left: 210px" width="30" height="30" src="static/img/forward.svg">
      <img class="icon path_buttons" style="left: 210px" width="30" height="30" src="static/img/reload.svg">
      <img class="icon path_buttons" style="left: 210px" width="30" height="30" src="static/img/home.svg">
      <input id="path" class="input_style" style="left: 220px; width: 680px; top: -2px;" type=text placeholder="Path">
      
      <div class="search_div" style="display: none">
        <input id="searh_input" class="input_style" style="left: 240px; width: 200px; top: -2px;" type=text placeholder="Path">
      </div>
    </div>

  </body>

  <script type="text/javascript" src="static/js/main.1.js"></script>

</html>