<html>
  <head>
    <meta charset="utf-8">
    <title>[ DISK: Login ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.1.css"/>

    <link rel="stylesheet" href = "static/css/login.1.css"/>
    <link rel="stylesheet" href = "static/css/checkBox.1.css"/>

  </head>

  <body bgcolor = "#24292E" style="overflow: hidden;">
    <div class="login_class">
      <!--<div class="login_name_container">
        <img class="icon" style="margin: 7px 10px;" width="25" height="25" src="static/img/lock.svg">
        <h2 style="margin: -35px 40px;">login</h2>
      </div>-->

      <div id="login_warning" class="login_warning" style="display: none">
        <img id="refresh" class="icon" style="position: absolute; left: 4px; top: 4px;" width="20" height="20" src="static/img/warning.svg">
        <p style="margin: 5px 30px">Incorrect login or password.</p>
        <img id="refresh" class="icon" style="position: absolute; right: 4px; top: 4px; cursor: pointer;" width="20" height="20" src="static/img/cross.svg" onclick="close_warning()">
      </div>
      <div class="login_container">
        <div id="inputs" style="display: block">
          <input id="login_input" class="input_style login_input" style="top: 5px;" type=text placeholder="login">
          <input id="password_input" class="input_style login_input" style="top: 42px;" type=password placeholder="password" onkeypress="return login_enter(event)">

          <div class="round_button login_button block_select" onclick="login()">
            <p style="margin: 4px 45px">login</p>
          </div>

          <div style="position: absolute; bottom: 0px; right: 20px;">
            <input type="checkbox" class="custom-checkbox" id="remember_chekcbox" name="remember_chekcbox">
            <label for="remember_chekcbox"><p class="main_font_color">Remember me</p></label>
          </div>

        </div>

        <div id="loading_login" style="display: none">
          <div style="position: absolute; width: 100%; height: 100%; background-color: #000; opacity: .2; border-radius: 8px;"></div>
          <div style="position: absolute;">
            <img id="refresh" class="icon anim_rotate" style="position: absolute; left: 10px; top: 10px;" width="30" height="30" src="static/img/admin/refresh.svg">
            <p style="margin: 10px 50px; font-size: 20px;">Login...</p>
          </div>
        </div>

      </div>

      <!--версия-->
      <div class="div_ver" style="position: absolute; left: 0px; bottom: 0px; width: 100%" align="left">
        <p style="margin: 10px 10px"><a href="javascript:open_git_releases()">ver: {{ version }}</a></p>
      </div>
    </div>

    <div class="info_class">

    </div>

  </body>

  <script type="text/javascript" src="static/js/main.1.js"></script>
  <script type="text/javascript" src="static/js/login.1.js"></script>

  <script type="text/javascript" src="static/js/theme.1.js"></script>

</head>
