<html id="html">
  <head>
    <meta charset="utf-8">
    <title>[ DISK ]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.1.css"/>
    <link rel="stylesheet" href = "static/css/checkBox.1.css"/>

    <link rel="stylesheet" href = "static/css/mobile/file.1.css"/>

    <link rel="stylesheet" href = "static/css/mobile/topBar.1.css"/>
    <link rel="stylesheet" href = "static/css/mobile/bottomBar.1.css"/>
    <link rel="stylesheet" href = "static/css/mobile/fileinfoBar.1.css"/>
    <link rel="stylesheet" href = "static/css/mobile/addFileMenu.1.css"/>
    <link rel="stylesheet" href = "static/css/range.1.css"/>
    <link rel="stylesheet" href = "static/css/mobile/dialog.1.css"/>

  </head>
  <body class="scroll_style">
    <input id="path" class="" style="display: none" type=text placeholder="Path" onkeypress="">

    <div id="file_list_div" class="file_list">
      <ul id="file_list" style="overflow-x:hidden;"></ul>
    </div>

    <div class="bottomBar">

      <!--информация о диске-->
      <div class="disk_info">
        <img class="icon_topBar" style="margin: 3px 5px" width="16" height="16" src="static/img/dvd-disk.svg">
        <p id="disk_converted" class="top_bar_font_color" style="margin: -21px 30px">25.2GB / 100GB</p>
      </div>

      <!--информация о диске в виде прогресс бара-->
      <div class="disk_space" id="disk_space_div">
        <div id="disk_space_progress" class="disk_space_progress"></div>
      </div>

      <div class="add_button_div">
        <img id="" class="icon_topBar path_buttons block_select button_margin" style="position: absolute; right: 8px; top: 4px" width="35" height="35" src="static/img/add.svg" onclick="open_file_add()">
      </div>

      <div class="move_buttons">
        <img id="go_back" class="icon_topBar path_buttons block_select button_margin" style="position: absolute; right: 135px; top: 3px; transform: rotate(-90deg)" width="35" height="35" src="static/img/arrow up.svg" onclick="go_back_dir_history()">
        <img id="go_forward" class="icon_topBar path_buttons block_select button_margin" style="position: absolute; right: 95px; top: 3px; transform: rotate(90deg)" width="35" height="35" src="static/img/arrow up.svg" onclick="go_forward_dir_history()">
        <img id="refresh" class="icon_topBar path_buttons block_select button_margin" style="position: absolute; right: 55px; top: 3px; " width="35" height="35" src="static/img/refresh.svg" onclick="update_dir()">
        <img id="go_home" class="icon_topBar path_buttons block_select button_margin" style="position: absolute; right: 10px; top: 3px; " width="35" height="35" src="static/img/home.svg" onclick="go_home()">
      </div>

    </div>

    <div id="file_info_bar_background_black" class="background_black" style="display: none" onclick="close_rightBar()"></div>

    <div class="rightBar" id="rightBar" style="display: none">
      <!--закрытие панели-->
      <div class="file_close_button block_select button_margin" onclick="close_rightBar()">
        <img class="icon" width="20" height="20" src="static/img/cross.svg">
        <p>close</p>
      </div>

      <div class="preview_info" id="checkbox_preview_image_div">
        <div style="position: absolute; margin: -7px 12px">
          <input type="checkbox" class="custom-checkbox" id="checkbox_preview_image" name="checkbox_preview_image" value="yes" onchange="load_preview()">
          <label for="checkbox_preview_image"><p>show preview</p></label>
        </div>
      </div>

      <!--информация о выбранном файле-->
      <div id="file_info_block" style="display: none">
        <!--редактирование-->
        <div id="file_activity_edit_button" class="file_activity_button block_select button_margin" style="width: 80px; display: none" onclick="()">
          <img class="icon" width="20" height="20" src="static/img/activity/edit.svg">
          <p>edit</p>
        </div>

        <!--распаковка-->
        <div id="file_activity_unpack_button" class="file_activity_button block_select button_margin" style="width: 100px; display: none" onclick="activity_unpack_file()">
          <img class="icon" width="20" height="20" src="static/img/activity/unzip.svg">
          <p>unpack</p>
        </div>

        <!--просмотр-->
        <a id="file_activity_view_button_href" target="_blank">
          <div id="file_activity_view_button" class="file_activity_button block_select button_margin" style="width: 80px; display: none" onclick="()">
            <img class="icon" width="20" height="20" src="static/img/activity/see.svg">
            <p>view</p>
          </div>
        </a>

        <!--иконка и имя файла-->
        <div class="file_ico_name_div">
          <img id="file_icon" class="icon" style="margin: 10px 10px" width="40" height="40" src="static/img/files/file.svg">
          <input id="fileName_input" class="input_style fileName_input" style="" type=text placeholder="file name" onkeypress="return rename_file_enter(event)">
        </div>

        <!--информация о файле-->
        <div class="file_info_div">
          <p id="file_type" style="margin-top: 10px;">type: None</p>
          <p id="file_size">size: None</p>
          <p id="file_path">path: None</p>
          <p id="file_date">date of change: None</p>
          <textarea class="input_style fileDescription" style="display: none"></textarea>
        </div>

        <!--кнопка скачивания-->
        <a id="file_download_button" href="" download="test">
          <div class="file_download_button block_select button_margin">
            <img class="icon" width="20" height="20" src="static/img/download.svg">
            <p>download</p>
          </div>
        </a>

        <!--кнопка удаления файла-->
        <div id="file_delete_button" class="file_delete_button block_select button_margin">
          <img class="icon" width="20" height="20" src="static/img/trash.svg">
          <p>delete</p>
        </div>

        <!--продпросмотр фотографии-->
        <div id="file_activity_view">
          <div class="preview_image" id="preview_image_div">
            <img id="preview_image" class="" src="" width="100%" />

            <div class="preview_display_type">
              <label for="" style="position: absolute; margin: 0px 10px;">
                Rendering type:
                <select onchange="preview_image_type(this)" class="preview_rendering_selector" id="preview_image_type" style="margin: 0px 5px">
                  <option value="auto">auto</option>
                  <option value="crisp-edges">crisp-edges</option>
                  <option value="pixelated">pixelated</option>
                  <option value="initial">initial</option>
                  <option value="inherit">inherit</option>
                </select>
              </label>
            </div>
          </div>

          <div class="preview_video" id="preview_video_div">
            <video id="preview_video" width="100%" onclick="play_video()"></video>
            <div class="preview_video_controls">
              <img id="preview_play_pause_video" class="icon" width="20" height="20" style="position: absolute; margin: 2px 4px;" src="static/img/player/play.svg" onclick="play_video()"/>
              <input type="range" id="preview_video_volume" style="display: none;" name="" min="0" max="100" value="50" step="1" oninput="set_volume_video(this.value)" onchange="set_volume_video(this.value)">
              <input type="range" id="preview_video_input_duration" style="position: absolute; left: 30px; right: 25px; bottom: 8px" name="" min="0" max="100" value="0" step="1" onchange="set_duration_video(this.value)" onmouseover="video_duration_hover = true" onmouseout="video_duration_hover = false" onmousemove="showTooltip_video_duration(event)">
              <img id="preview_fullscreen_video" class="icon" width="20" height="20" style="position: absolute; margin: 2px 4px; right: 0px" src="static/img/player/fullscreen.svg" onclick="full_screen()"/>
              <div class="preview_video_duration_info" id="preview_video_duration_info">
                <p id="preview_video_duration_info_p"></p>
              </div>
            </div>
          </div>

          <div class="preview_audio block_select" id="preview_audio_div" style="height: 50px; cursor: default;">
            <audio id="preview_audio" style="margin: 5px 0px; display: none" width="300px" controls></audio>
            <img id="preview_play_pause_audio" class="icon" width="40" height="40" style="position: absolute; margin: 6px 4px;" src="static/img/player/play.svg" onclick="play_audio()"/>
            <img class="icon" width="20" height="20" style="position: absolute; left: 45px;" src="static/img/player/back.svg" onclick="next_audio(true)"/>
            <img class="icon" style="transform: rotate(-180deg); position: absolute; right: 4px;" width="20" height="20" src="static/img/player/back.svg" onclick="next_audio()"/>
            <input id="preview_audio_name" class="preview_audio_name" style="left: 80px; right: 40px; margin-top: 4px;" type=text placeholder="file name" onkeypress="" readonly>
            <input type="range" id="preview_audio_volume" style="display: none" name="cowbell" min="0" max="100" value="50" step="1" oninput="set_volume_audio(this.value)" onchange="set_volume_audio(this.value)">
            <input type="range" id="preview_audio_input_duration" style="position: absolute; left: 45px; right: -4px; bottom: 5px" name="cowbell" min="0" max="100" value="0" step="1" onchange="set_duration_audio(this.value)" onmouseover="audio_duration_hover = true" onmouseout="audio_duration_hover = false">
          </div>

        </div>

      </div>

      <!--информация о выбранных файлах и каталогах-->
      <div id="file_list_block" style="display: none">
        <div id="file_select_all_button" class="file_activity_button block_select button_margin" onclick="all_files_checkBox()">
          <img class="icon" width="20" height="20" src="static/img/select all.svg">
          <p>select all</p>
        </div>

        <!--количество выбранных файлов-->
        <div class="file_list_info_div">
          <p style="margin: 0px 0px;" align="center">Selected elements</p>
          <img class="icon" style="position: absolute; top: 10px; left: 10px;" width="25" height="25" src="static/img/files/file.svg">
          <p id="file_list_files" style="position: absolute; left: 40px; top: 3px;">Files: None</p>
          <img class="icon" style="position: absolute; top: 47px; left: 10px;" width="25" height="25" src="static/img/files/folder.svg">
          <p id="file_list_folders" style="position: absolute; left: 40px; top: 37px;">Folders: None</p>
        </div>

        <!--кнопка для скачивания выбранных файлов-->
        <a id="file_list_download_button" href="" download="test">
          <div class="file_list_download_button block_select button_margin">
            <img class="icon" width="20" height="20" src="static/img/download.svg">
            <p>download</p>
          </div>
        </a>

        <!--кнопка для удаления выбранных файлов-->
        <div id="file_list_delete_button" class="file_list_delete_button block_select button_margin" onclick="delete_file_dialog()">
          <img class="icon" width="20" height="20" src="static/img/trash.svg">
          <p>delete</p>
        </div>


        <!--кнопка для копирования выбранных файлов-->
        <div id="file_list_copy_button" class="file_list_copy_button block_select button_margin" onclick="copy_file_buf()">
          <img class="icon" width="20" height="20" src="static/img/copy.svg">
          <p>copy</p>
        </div>

        <!--кнопка для копирования выбранных файлов-->
        <div id="file_list_cut_button" class="file_list_cut_button block_select button_margin" onclick="copy_file_buf(true)">
          <img class="icon" width="20" height="20" src="static/img/cut.svg">
          <p>move</p>
        </div>

      </div>

      <!--панель с информацией и кнопками для вставки файлов-->
      <div id="copy_or_paste_block" style="display: none">

        <!--количество выбранных файлов-->
        <div class="file_list_info_div" style="height: 78px">
          <p id="cop_info" style="margin: 0px 0px;" align="center"></p>
          <img class="icon" style="position: absolute; top: 10px; left: 10px;" width="25" height="25" src="static/img/files/file.svg">
          <p id="cop_file_list_files" style="position: absolute; left: 40px; top: 3px;">Files: None</p>
          <img class="icon" style="position: absolute; top: 47px; left: 10px;" width="25" height="25" src="static/img/files/folder.svg">
          <p id="cop_file_list_folders" style="position: absolute; left: 40px; top: 37px;">Folders: None</p>
        </div>

        <!--кнопка для вставки выбранных файлов-->
        <div id="file_list_paste_button" class="file_list_paste_button block_select button_margin" style="border-right: 1px solid var(--main-border-color);" onclick="paste_files()">
          <img class="icon" width="20" height="20" src="static/img/copy.svg">
          <p>paste</p>
        </div>
      </div>

      <!--индикация состояния загрузки файла-->
      <div id="file_upload_block" style="display: none">
        <!---->
        <div class="file_upload_info">
          <img class="icon anim_rotate" style="position: absolute; right: 8px; top: 8px;" width="35" height="35" src="static/img/dvd-disk.svg">
          <p id="upload_file_count" style="margin: 10px 10px;">Upload 0 files...</p>
          <h3 id="upload_file_name" style="margin: 10px 10px;">test.txt</h3>
        </div>

        <!--информация о диске в виде прогресс бара-->
        <div class="upload_bg">
          <div id="upload_progress" class="upload_progress"></div>
        </div>
      </div>

      <div id="addFileMenu" style="display: none">
        <label for="fileElem">
          <div class="small_button_style block_select button_margin" style="right: 0px; top: 35px; width: 50%;">
            <img class="icon" width="20" height="20" src="static/img/upload.svg">
            <p>upload file</p>
          </div>
        </label>

        <div class="small_button_style block_select button_margin" style="top: 35px; width: 50%;" onclick="create_file_dialog(true)">
          <img class="icon" width="20" height="20" src="static/img/new folder.svg">
          <p>create folder</p>
        </div>

        <div class="small_button_style block_select button_margin" style="top: 71px; width: 50%;" onclick="create_file_dialog()">
          <img class="icon" width="20" height="20" src="static/img/files/file.svg">
          <p>create file</p>
        </div>

      </div>

    </div>

    <div id="background_black" class="background_black" style="display: none" onclick="close_user()"></div>

    <div id="path_select_list_div" class="path_select_list_div" style="display: none">
      <ul id="path_list" style="position: absolute; top: -14px; width: 100%"></ul>
    </div>

    <div id="leftBar_user" class="leftBar_user" style="display: none">

      <div id="admin_panel" class="small_button_left_style block_select button_margin" style="top: 45px; display: none" onclick="openInNewTab('admin')">
        <img class="icon_topBar" width="20" height="20" src="static/img/admin/dashboard.svg">
        <p class="top_bar_font_color">admin panel</p>
      </div>

      <div id="other_options" style="position: absolute; top: 42px; width: 100%;">
        <p class="top_bar_font_color" style="position: absolute; left: 8px; top: 0px;">Theme</p>

        <div style="position: absolute; top: 20px; left: 15px;">
          <input type="checkbox" class="custom-checkbox top_checkBox" id="lightThame_chekcbox" name="lightThame_chekcbox" value="yes" onchange="checkBox_thame(this)">
          <label for="lightThame_chekcbox"><p class="top_bar_font_color">Light theme</p></label>
        </div>

      </div>

      <!--версия-->
      <div class="div_ver" style="position: absolute; left: 0px; bottom: 30px; width: var(--width-left-bar)" align="left">
        <p style="margin: 10px 10px"><a href="javascript:open_git_releases()">ver: {{ version }}</a></p>
      </div>

      <!--кнопка для выхода из аккаунта-->
      <div class="button_exit_style block_select button_margin" onclick="logout()">
        <img class="icon_topBar" width="20" height="20" src="static/img/logout.svg">
        <p class="top_bar_font_color">logout</p>
      </div>
    </div>

    <div class="topBar">
      <div id="path_select_button" class="path_select_button block_select button_margin" onclick="open_close_path_button()">
        <img class="icon_topBar" style="margin: 10px 15px" width="25" height="25" src="static/img/dvd-disk.svg">
        <p class="top_bar_font_color" id="path_status_size" style="position: absolute; margin: -42px 45px; color: #959DA5">1Gb</p>
        <p class="top_bar_font_color" id="path_name" style="position: absolute; margin: -28px 45px">home</p>
        <img id="path_select_button_triangle" class="icon_topBar" style="position:absolute; right: 10px; top: 10px" width="10" height="10" src="static/img/triangle.svg">
      </div>

      <div id="user_button" class="user_button block_select button_margin" onclick="open_close_user_button()">
        <img class="icon_topBar" style="margin: 0px 15px" width="25" height="25" src="static/img/user.svg">
        <p class="top_bar_font_color" id="user_status" style="margin: -22px 45px; color: #959DA5">user</p>
        <p class="top_bar_font_color" id="user_name" style="margin: 15px 45px">100LAR</p>
        <img id="user_button_triangle" class="icon_topBar" style="position:absolute; right: 10px; top: 10px" width="10" height="10" src="static/img/triangle.svg">
      </div>
    </div>

    <div id="dialog_bg" class="dialog_backgound"></div>

    <!--диалоговые окна-->

    <!-- только для чтения -->
    <div id="dialog_readonly" class="dialog_style" style="height: 160px;">
      <div class="dialog_top_name">
        <div class="dialog_close_button block_select button_margin" onclick="close_readonly_dialog()">
          <img class="icon" width="20" height="20" src="static/img/cross.svg">
          <p>close</p>
        </div>
      </div>

      <img class="icon" width="60" height="60" style="position: absolute; right: 30px; top: 45px;" src="static/img/warning.svg">
      <h3 style="position: absolute; top: 40px; left: 110px;" align="right">This path is read-only.</h3>
      <p style="position: absolute; top: 70px; left: 50px;" align="right"></p>

      <div class="dialog_button block_select" style="left: 10px; bottom: 10px; width: 100px;" onclick="close_readonly_dialog()">
        <p style="margin: 5px 40px">ok</p>
      </div>
    </div>

    <!-- нехватка места -->
    <div id="dialog_no_place" class="dialog_style" style="height: 200px;">
      <div class="dialog_top_name">
        <div class="dialog_close_button block_select button_margin" onclick="close_no_place_dialog()">
          <img class="icon" width="20" height="20" src="static/img/cross.svg">
          <p>close</p>
        </div>
      </div>

      <!-- <img class="icon" width="60" height="60" style="position: absolute; right: 30px; top: 45px;" src="static/img/warning.svg"> -->
      <h3 style="position: absolute; top: 40px; left: 10px;" align="left">There is no disk space to modify the file.</h3>
      <p style="position: absolute; top: 70px; left: 10px;" align="left">Delete unnecessary files or ask the administrator to increase the limit.</p>

      <div class="dialog_button block_select" style="left: 10px; bottom: 10px; width: 100px;" onclick="close_no_place_dialog()">
        <p style="margin: 5px 40px">ok</p>
      </div>
    </div>

    <!-- Удаление файлов -->
    <div id="dialog_delete_file" class="dialog_style">
      <div class="dialog_top_name">
        <div class="dialog_close_button block_select button_margin" onclick="close_delete_file_dialog()">
          <img class="icon" width="20" height="20" src="static/img/cross.svg">
          <p>close</p>
        </div>
      </div>

      <p style="position: absolute; left: 10px; top: 40px">Delete file list:</p>
      <textarea id="delete_file_list" class="input_style fileDescription scroll_style" style="position: absolute; top: 40px; left: 125px; right: 10px; height: 140px;" readonly></textarea>

      <div id="delete_file_button" class="red_dialog_button block_select" style="left: 10px; bottom: 10px; width: 100px;">
        <p style="margin: 5px 28px">delete</p>
      </div>
    </div>

    <!-- Создание файлов и директорий -->
    <div id="dialog_create_file" class="dialog_style">
      <div class="dialog_top_name">
        <div class="dialog_close_button block_select button_margin" onclick="close_create_file_dialog()">
          <img class="icon" width="20" height="20" src="static/img/cross.svg">
          <p>close</p>
        </div>
      </div>

      <div class="dialog_info">
        <img class="icon" id="create_file_image" style="position: absolute; left: 10px; top: 10px;" width="40" height="40" src="">
        <input id="create_fileName_input" class="input_style create_fileName_input" style="" type=text placeholder="file name" onkeypress="return create_file_enter(event)">
      </div>

      <div id="create_file_button" class="dialog_button block_select" style="left: 10px; bottom: 10px; width: 100px;">
        <p style="margin: 5px 28px">create</p>
      </div>
    </div>

    <!--видео в полный экран-->
    <div id="preview_video_fullscreen_div" class="preview_video_fullscreen" style="display: none">
      <video id="preview_video_fullscreen" class="preview_video_fullscreen_video" onclick="play_video()"></video>
      <div class="preview_video_fullscreen_controls">
        <img id="preview_play_pause_video_fullscreen" class="icon" width="20" height="20" style="position: absolute; margin: 2px 4px;" src="static/img/player/play.svg" onclick="play_video()"/>
        <input type="range" id="preview_video_volume_fullscreen" style="display: none;" name="" min="0" max="100" value="50" step="1" oninput="set_volume_video(this.value)" onchange="set_volume_video(this.value)">
        <input type="range" id="preview_video_input_duration_fullscreen" style="position: absolute; left: 30px; right: 30px; bottom: 8px" name="" min="0" max="100" value="0" step="0.1" onchange="set_duration_video(this.value)" onmouseover="video_duration_hover = true" onmouseout="video_duration_hover = false" onmousemove="showTooltip_video_duration(event)">
        <img id="preview_fullscreen_video_fullscreen" class="icon" width="20" height="20" style="position: absolute; margin: 2px 4px; right: 0px" src="static/img/player/fullscreen.svg" onclick="full_screen()"/>

        <div class="preview_video_duration_info" id="preview_video_duration_info_fullscreen">
          <p id="preview_video_duration_info_p_fullscreen"></p>
        </div>
      </div>
    </div>

    <input name="fileElem" type="file" id="fileElem" style="display: none;" multiple onchange="uploadFile(this.files)">

  </body>

  <script>
    var mobile = true;

  </script>

  <script type="text/javascript" src="static/js/main.1.js"></script>

  <script type="text/javascript" src="static/js/theme.1.js"></script>

  <script type="text/javascript" src="static/js/info.1.js"></script>
  <script type="text/javascript" src="static/js/user.1.js"></script>
  <script type="text/javascript" src="static/js/upload_file.1.js"></script>
  <script type="text/javascript" src="static/js/player.1.js"></script>
  <script type="text/javascript" src="static/js/file.1.js"></script>

</html>
