
.bottomBar {
  position: fixed;

  bottom: 0px;
  left: 0px;
  height: 25px;
  width: 100%;

  background-color: var(--top-color);

  border-top: 1px solid var(--top-border-color);
}

.add_button_div {
  position: fixed;
  right: 10px;
  bottom: 45px;
  height: 45px;

  width: 50px;
  height: 50px;

  background-color: var(--top-color);

  border: 1px solid var(--top-border-color);
  border-radius: 25px;
}

.disk_info {

}

.disk_space {
  position: absolute;
  left: 5px;
  bottom: 2px;
  right: 5px;
  height: 5px;
  background-color: var(--top-border-color);
  border-radius: 3px;
}

.disk_space_progress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 5px;
  background-color: #999999;
  border-radius: 3px;
}
