
.file_list {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 35px;
  overflow-y: scroll;
}

.file_selected {
  background-color: var(--selected-file-color);
}

.file {
  border-bottom: 1px solid var(--main-border-color);
  height: 45px;
  width: 100%;
}

.file p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  width: calc(100% - 100px);
}

.file_checkbox_bg {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--fileList-checkbox-color);
  border-right: 3px solid var(--fileList-checkbox-delimiter-color);
  cursor: pointer;
}

.file_pathInfo {
  border-bottom: 1px solid var(--main-border-color);
  background-color: var(--fileList-checkbox-color);
  height: 20px;
  width: 100%;
}

.file_delimiter_bg {
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: var(--fileList-delimiter-color);
  border-right: 3px solid var(--fileList-checkbox-delimiter-color);
}
