
.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: var(--top-color);
  border-bottom: 2px solid var(--top-border-color);
}

.user_button {
  position: fixed;
  background-color: var(--hover-color);
  top: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  border: 1px solid var(--main-border-color);
}

.user_button img {
  position: relative;
  top: 10px;
}

.path_select_button {
  position: fixed;
  background-color: var(--hover-color);
  border-bottom: 1px solid var(--main-border-color);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.leftBar_user {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid var(--top-border-color);
  background-color: var(--top-color);
  width: 50%;
}

.small_button_left_style {
  position: absolute;
  height: 35px;
  width: 100%;
  left: 0px;
  border-top: 1px solid var(--top-border-color);
  border-bottom: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);
  background-color: var(--top-color);
  cursor: pointer;
}

.small_button_left_style:hover {
  background-color: var(--top-hover-color);
}

.path_select_list_div {
  position: fixed;
  top: 46px;
  /* bottom: 0px; */
  right: 0px;
  width: 100%;
}

.path_list_element {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  width: 100%;
  height: 45px;
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/

.selected_files_div {
  position: fixed;
  top: 46px;
  left: 0px;
  right: 0px;
  height: 40px;
  border-radius: 0 0 8px 8px;
  background-color: var(--hover-color);
}
