
.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: var(--top-color);
  border-bottom: 2px solid var(--top-border-color);
}

.user_button {
  position: fixed;
  background-color: var(--top-color);
  top: 0px;
  left: 0px;
  width: 50%;
  height: 45px;
  border-right: 1px solid var(--top-border-color);
  cursor: pointer;
}

.user_button img {
  position: relative;
  top: 10px;
}

.path_select_button {
  position: fixed;
  background-color: var(--top-color);
  top: 0px;
  right: 0px;
  width: 50%;
  height: 45px;
  cursor: pointer;
}

.leftBar_user {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid var(--top-border-color);
  background-color: var(--top-color);
  width: 50%;
}

.small_button_left_style {
  position: absolute;
  height: 35px;
  width: 100%;
  left: 0px;
  border-top: 1px solid var(--top-border-color);
  border-bottom: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);
  background-color: var(--top-color);
  cursor: pointer;
}

.small_button_left_style:hover {
  background-color: var(--top-hover-color);
}

.button_exit_style {
  position: absolute;
  width: 100%;
  height: 35px;
  border-top: 1px solid var(--top-border-color);
  background-color: var(--top-color);
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.button_exit_style:hover {
  background-color: var(--top-red_color);
}

.path_select_list_div {
  position: fixed;
  top: 46px;
  bottom: 0px;
  right: 0px;
  width: 50%;
}

.path_list_element {
  background-color: var(--top-color);
  border-bottom: 1px solid var(--top-border-color);
  border-left: 1px solid var(--top-border-color);
  border-right: 1px solid var(--top-border-color);
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.path_list_element:hover {
  background-color: var(--top-hover-color);
}
